
<div class='header animated fadein'>
    <i class='fa fa-angle-left animated fadein' (click)='previous()'><</i>
    <span>{{ month.format('MMMM, YY') }}</span>
    <i class='fa fa-angle-right animated fadein' (click)='next()'>></i>
</div>
<div class='week names animated fadein'>
    <span class='day'>Mon</span>
    <span class='day'>Tue</span>
    <span class='day'>Wed</span>
    <span class='day'>Thu</span>
    <span class='day'>Fri</span>
    <span class='day'>Sat</span>
    <span class='day'>Sun</span>
</div>
<div class='week animated fadein' *ngFor='let week of weeks'>
    <span class='day animated fadein' [ngClass]="{ 'today': day.isToday, 'selected': day.date.isSame(selected), 
            'beforetoday': beforeToday(day) }" 
            (click)='select(day)' *ngFor='let day of week.days'>{{ day.number }}</span>
</div>
